@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fullPage {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  display: block;
  background: url(images/17x.jpg) 50% 50%;
  background-color: #FFF2D5;
  background-repeat: no-repeat;
  position: relative;
}
.titleWrapper{
  max-width: 600px;
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.name {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 0.625em;
  font-weight: 900;
  letter-spacing: 1.5;
  text-align: center;
  margin-bottom: 24px;
}
.title {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 3.500em;
  font-weight: 900;
  letter-spacing: 14px;
  text-align: center;
}
.exploreBtn {
  text-align: center;
  width: 136px;
  margin: 116px auto;
  display: block;
  color: #fff;
  background-color: rgba(255,255,255,0.3);
  font-size: 14;
  text-transform: uppercase;
  font-family: 'Lato-Semibold';
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 63px;
  letter-spacing: 2;
  transition: easy-out, easy-in, 300ms;
}
.exploreBtn:hover {
  background-color: rgba(255,255,255,0.5);
}
.headSocials {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%,-50%);
  width: 355px;
}
.headSocials a{
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 16px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'Lato-Semibold';
  letter-spacing: 1;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  width: 0px;
  transition: 0.5s ease;
  white-space: nowrap;
  height: 25px;
}
.headSocials a:hover {
  border-bottom: 3px solid #DB4453;
  width: 200px;
}
/*HEADER*/

header {
  width: 100%;
  max-width: 1170px;
  height: 70px;
  margin: 0 auto;
  padding: 40px 20px;
  /*    position: fixed;*/
}
.logo {
  width: 70px;
  height: 70px;
  float: left;
  background-image: url(images/logo.png);
}
.burger {
  background-image: url(images/menu-24.png);
  width: 24px;
  height: 24px;
  float: right;
  display: none;
  margin-top: 23px;
}
.navigation {
  width: 100%;
  max-width: 346px;
  float: right;
  display: blok;
  line-height: 70px;
}
.navigation a {
  font-family: 'Lato-Semibold',sans-serif;
  font-size: 14px;
  margin-right: 24px;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1;
  font-weight: 900;
  color: #545454;
  transition: easy-out, easy-in, 250ms;
  border-bottom: 3px solid transparent;
  width: 0px;
  transition: 0.5s ease;
  white-space: nowrap;
  height: 25px
}
.navigation a:hover {
  border-bottom: 3px solid #DB4453;
  width: 200px;
  color: #DB4453;
}
.navigation .hireBtn {
  color: #DB4453;
  padding: 14px 16px;
  border-radius: 2px;
  border: solid 2px #DB4453;
  transition: easy-out, easy-in, 300ms;
}
.navigation .hireBtn:hover {
  color: white;
  background-color: #DB4453;
}



.fullNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  float: right;
  opacity: 0;
  line-height: 70px;
  background-color: rgba(0,0,0,0.9);
  margin: 0 auto;
  padding:50% 20px;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
  display: none;
}
.fullNav .close {
  background-image: url('./images/icons8-Delete Filled-50.png');
  width: 24px;
  height: 24px;
  float: right;
  background-repeat: no-repeat;
  margin-top: -43%;
  margin-right: 16px;
}
.fullNav a {
  font-family: Helvetica,sans-serif;
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2;
  font-weight: 900;
  color: #fff;
  transition: easy-out, easy-in, 250ms;
  width: 200px;
  margin: 40px auto;
  display: block;
  text-align: center;
}

.fullNav .hireBtn {
  color: #DB4453;
  padding: 14px 16px;
  border-radius: 2px;
  border: solid 2px #DB4453;
  transition: easy-out, easy-in, 300ms;
}
.fullNav .hireBtn:hover {
  color: white;
  background-color: #DB4453;
}
.fullNav a:hover {
  color: #DB4453;
}

.fullNavVisible{
  opacity: 1;
  z-index: 9999;
}

/* END OF HEADER*/

/*------------------------*/

/*CONTAINER*/

.container {
  width: auto;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
.mainHeading {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 32px;
  color: #555;
  margin: 65px 0 40px 0;
}
.mainTitle {
  font-family: 'Lato-Light', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  color: #aaa;
  width: 800px;
  margin: 40px 0 100px 0;
}
.separator {
  width: 100px;
  height: 2px;
  background-color: #DB4453;

}


/*END OF CONTAINER*/

/*GALLERY*/


.galleryContent {
  width: 100%;
  padding: 106px 0;
  background-color: #f9f9f9;
  float: left;
}
.gallery {
  max-width: 1170px;
  margin: 0 auto;
}
.right {
  float: left;
  width: 50%;
}
.left {
  float: left;
  width: 50%;
}
.middle {
  float: left;
  width: 100%;
}
.largeImg {
  max-width: 580px;
  max-height: 580px;
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  margin:5px;
  box-sizing: border-box;
  background: #e3e3e3;
  position: relative;
  overflow: hidden;
}
.tinyImg {
  max-width: 285px;
  max-height: 285px;
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  margin:5px;
  box-sizing: border-box;
  background: #e3e3e3;
  position: relative;
  overflow: hidden;
}
.middleImg {
  max-width: 383.33px;
  max-height: 383.33px;
  width: 100%;
  height:100%;
  float: left;
  margin: 5px;
  background: #e3e3e3;
  position: relative;
  overflow: hidden;
}
.imgOverlay {
  position: relative;
  height: 100%;
  display: block;
  max-width: 580px;
  max-height: 580px;
  z-index: 20;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  transition: easy-out, easy-in, 300ms;
}
.img {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: -50%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  width: 180%;
}
.imgBox:hover .img {
  transform: scale(1.1);
}
.imgBox:hover .imgOverlay {
  opacity: 1;
}
.imgCategory {
  position: absolute;
  top: 24;
  left: 24;
  font-size: 16px;
  font-family: 'Lato',sans-serif;
  color: #fff;
  background: #673AB7;
  padding: 6px 8px;
  border-radius: 3px;
}
.imgTitle {
  position: absolute;
  bottom: 20;
  left: 20;
  font-size: 24px;
  font-family: 'Lato-Light',sans-serif;
  color: #fff;
  padding: 10px 12px;
}
.noRightMargin {
  margin-right: 0;
}
.noLeftMargin {
  margin-left: 0;
}

/*END OF GALLERY*/
.clear {
  clear: both;
}
.instaContainer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: #673AB7;
  background-image: url('./images/instaBG.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.instaFollowBox {
  width: 250px;
  height: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  display: block;
  text-decoration: none;
}
.instaLogo {
  width: 48px;
  height: 48px;
  margin: 50px auto;
  display: block;
}
.instaTitle {
  width: 200px;
  margin: 24px auto;
  font-size: 18px;
  font-family: 'Raleway-Medium', sans-serif;
  text-align: center;
  color: #000;
}
.instaFollowBox:hover{
  transform: translate(-50%, -50%) scale(1.1);
}


.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
}
.modalContainer {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  max-width: 480px;
  border-radius: 4px;
  border-top: 5px solid #DB4453;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 24px 0px;
  position: relative;
}
.modal input {
  width: 100%;
    padding: 18px 1px;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 16px;
    color: #2e2e2e;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
}
.modal input::after {
  content: '';
  border-bottom: 2px solid #DB4453;
  display: inline-block;
  width: 0;
  transition: 0.5s ease;
  white-space: nowrap;
}
.modal input::after:hover {
  content: '';
  border-bottom: 2px solid #DB4453;
  width: 210px;
}
.modal textarea {
  width: 100%;
  max-width: 480px;
  padding: 18px 0px;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 16px;
  color: #2e2e2e;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.modal button {
  padding: 16px;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #DB4453;
  border: none;
  border-radius: 2px;
}
.modal .mainHeading {
  margin-top: 24px;
}
.modal .separator {
  margin-bottom: 40px;
}
.modal .close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-image: url('./images/icons8-Delete Filled-50_black.png');
  width: 24px;
  height: 24px;
  float: right;
  background-repeat: no-repeat;

}
/*FOOTER*/

footer {
  width: 100%;
  max-width: 1170px;
  margin: 64px auto;
  padding: 0 20px 150px;
  box-sizing: border-box;
}
.address{
  width: 33%;
  float: left;
}
.newProject {
  font-family: Helvetica,sans-serif;
  font-size: 24px;
  color: #DB4453;
  font-weight: 100;
  text-decoration: none;
  margin-bottom: 30px;
  border-bottom: 2px solid #DB4453;
  display: inline-block;
  width: 0;
  transition: 0.5s ease;
  white-space: nowrap;
  padding: 10px 0px;
  cursor: pointer;
}
.newProject:hover {
  border-bottom: 2px solid #DB4453;
  width: 210px;
}
address{
  margin-top:-15px;
  color:#aaa;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
}

.footerLists{
  width: 66%;
  float: left;
}
.footerNav{
  width: 50%;
  float: right;
  padding: 0;
  text-align: right;
}
.footerNav li{
  padding: 3px 0;
  list-style: none;
}
.footerNav a {
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  padding-right: 24px;
  text-decoration: none;
  font-weight: 500;
  color: #545454;
  transition: easy-out, easy-in, 250ms;
  padding: 10px 0;
}
.footerNav a:hover {
  color: #DB4453;
}
.socials{
  width: 50%;
  float: right;
  padding: 0;
  text-align: right;
  list-style: none;
}
.socials li{
  padding: 3px 0;
  list-style: none;
}
.socials a {
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  padding-right: 24px;
  text-decoration: none;
  font-weight: 500;
  color: #545454;
  transition: easy-out, easy-in, 250ms;
  padding: 10px 0;
}
.socials a:hover {
  color: #DB4453;
}

/*END OF FOOTER*/





/*MOBILE*/

@media screen and (max-width: 768px){
  header {
    padding: 40px 20px;
    box-sizing: border-box;
  }
  .burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  .container {
    padding: 0 20px;
  }
  footer {
    padding: 0 20px;
    box-sizing: border-box;
  }
}
